<div class= "container row text-center">
  <h1><strong> Welcome to Robot World</strong> </h1>

    <section class= "btn-group btn-group-lg" role="group">
      <a class = "btn btn-success" href="/robots">See Robots</a>
      <a class = "btn btn-primary" href="/robots/new">Create Robot</a>
    </section>

    <section>
      <p><%= @departments %></p>
      <p><%= @states %></p>
    </section>
</div>
