  <section class="pad-custom">
    <div class="row center">
      <div class="col s6">
        <div class="center promo">
          <a href="/robots"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Icon_robot.svg/1280px-Icon_robot.svg.png"/></a>
          <p class ="promo-caption">Your Robots</p>
        </div>
      </div>
      <div class="col s6">
        <div class="center promo">
          <a href="/robots/new"><img src="https://image.freepik.com/icones-gratuites/bras-robotise--symbole-ios-7-de-l&-39;interface_318-38994.png"/></a>
          <p class = "promo-caption">Create New Robot</p>
        </div>
     </div>
   </div>
 </section>
      <!-- <p><%= @departments %></p>
      <p><%= @states %></p> -->
    </section>
</div>
