
      <form class = 'container form-horizontal' action ="/robots" method="post">
        <h3>Create a new robot</h3>
      <div class= "form-group">
        <label for="robot[name]" class= "col-sm-2 control-label">Enter Robot Name</label>
          <div class = "col-sm-8">
        <input type='text' name='robot[name]'/><br/>
          </div>
      </div>
      <div class = "form-group">
        <label for="robot[city]" class= "col-sm-2 control-label ">Enter City</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[city]'/><br/>
        </div>
      </div>
      <div class = "form-group">
        <label for="robot[state]" class= "col-sm-2 control-label ">Enter State</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[state]'/><br/>
        </div>
      </div>
      <div class = "form-group">
        <label for="robot[avatar]" class= "col-sm-2 control-label ">Enter Avatar Code</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[avatar]'/><br/>
        </div>
      </div>
      <!-- <div class = "form-group">
        <label for="robot[birthdate]" class= "col-sm-2 control-label ">Enter Birthdate</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[birthdate]'/><br/>
        </div>
      </div> -->
      <div class = "form-group">
        <label for="robot[date_hired]" class= "col-sm-2 control-label ">Enter Date Hired</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[date_hired]'/><br/>
        </div>
      </div>
      <div class = "form-group">
        <label for="robot[department]" class= "col-sm-2 control-label ">Enter Department</label>
        <div class = "col-sm-8">
          <input type='text' name='robot[department]'/><br/>
        </div>
        <button type='submit' class = 'btn btn-primary col-sm-2 col-offset-md-2'>Create Robot!</button>
      </div>
      </form>
